!!! 5
%html
  %head
    %title WiceGrid Examples
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body


    .container-fluid

      %header
        %h1 WiceGrid examples



      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list

              - @example_map.each do |title, examples|

                %li.nav-header= title

                - examples.each do |example_controller, name, _|
                  - if example_controller.to_s == controller_name
                    - active_klass = 'active'
                    - @example_name = name
                  - else
                    - active_klass = nil
                  %li{:class => active_klass}
                    = link_to name, :controller => example_controller, :action => :index

        .span9
          .well
            %h2= @example_name
            %p tra ta ta
            %p
              %a.btn.btn-primary.btn-large Learn more &raquo;

          .row-fluid

            .span12
              =yield



      %hr

      %footer
        %p &copy; Yury Leikind 2012


